{% extends 'base.html' %}

{% block load %}
{% endblock %}

{% block content %}
           {% if user.is_authenticated %}
                    <p>{{user.username}}</p>
                    <a href="/profile/{{ user.id }}">Переглянути профіль</a><br>
                    <a href="/logout">Вийти з акаунту</a><br><br>
                    <a href="/createpost">Створити пост</a>
           {% else %}
                    <a href="/login">Увійти в акаунт</a><br>
                    <a href="/registration">Зареєструватися</a>
           {% endif %}



            <br><br><br><br>
            <label for="posts_sorting_tag">Сортувати публікації за: </label>
            <select name="tag" id="posts_sorting_tag">
            <option value="user">Користувачем</option>
            </select><br><br>

            <input id="sorting" type="text" placeholder="Введіть фільтр"><br><br>
            <input id="sort" type="submit" value = "Сортувати"
            hx-trigger="click"
            hx-post="{% url  'home' %}"
            hx-include="#posts_sorting_tag, #sorting,[name = 'csrfmiddlewaretoken']"
            hx-target="#posts"
            >

           <div id="posts">
           {% block posts %}
           {% for i in form %}
            <hr color="green">
                <p>{{i.user}}</p>
                <p>{{i.added_at}}</p>
                <p>{{i.text}}</p>
                <a href="/post/{{ i.id }}">Подробиці публікації</a><br>
            <hr color="green">
           {% endfor %}
           {% endblock %}
          </div>

{% endblock %}