<!DOCTYPE html>
<html lang="en">
<style>
  .button_check_true {
    background: green;
  }

   .button_check_false {
    background: red;
  }

     .button_initial_state {
    background: violet;
  }
</style>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<script src="/static/js/validator.js"></script>
<body>
            <input type="text" id="pass1" name="password" placeholder="enter password"><br><br>
            <input type="text" id="pass2" name="password" placeholder="cofirm password"><br><br>
            <input type="text" id="email" name="password" placeholder="enter email"><br><br>
            <input type="submit" id="submit_button" class="button_initial_state" onclick="validate_input()">
</body>
</html>