<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="/static/js/comment_creation.js"></script>
</head>
<body>
          <div>
                    <a href = "/">Home</a>
          </div>
          <hr color="green">
          {% csrf_token %}
          {{ post.user }}<br>
          {{ post.added_at }}<br><br>
          <div id="text">
                {{ post.text }}<br><br>
          </div>
          {% if  request.user == user %}
                <input id="text_of_updated_post" type="text" name="post" placeholder="Оновити пост"><br>
                <input id="update_post" type="submit" value="Зберегти новий текст поста" data-page="/update_post/{{ post.id }}/">
         {% endif %}<br><br>
         {% csrf_token %}
         <input id="text_of_new_comment" type="text" name="text" placeholder="Коментувати"><br>
         <input id="create_new_comment" type="submit" value = "Зберегти коментар" data-page="/create_comment/{{ post.id }}/">
          <hr color="green">
          <div id="comments">
            {% for i in comments %}
            <hr color="green">
            <p>{{ i.user }}</p>
            <p>{{ i.added_at }}</p>
            <p>{{ i.text }}</p>
            <hr color="green">
            {% endfor %}
          </div>
</body>
</html>